<!DOCTYPE html>
<html lang="en">

<head>
	<title>SDK Demo Reset Password Page</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="static/images/favicon-lr.png" type="image/x-icon">

	<link href="static/css/style.css" rel="stylesheet" />
	<script src="static/js/jquery.min.js"></script>
</head>

<body>
	<div class="section-menu">
		<div class="menu-header">
			<a href="/minimal">
				<img src="static/images/lr-logo.png" />
			</a>
			<span style="display:block;">Python SDK-IDX Demo</span>
		</div>
		<div class="vertical-home-menu">
			<a href="/minimal" class="menu-home">Home</a>

		</div>
	</div>
	<div class="section-main">
		<div class="resetpassword-elem">
			<h3>Reset Password</h3>
			<div class="container">
				<table>
					<tr>
						<td>Password: </td>
						<td><input name="email" type='password' id='minimal-resetpassword-password' /></td>
					</tr>
					<tr>
						<td>Confirm Password: </td>
						<td><input name="email" type='password' id='minimal-resetpassword-confirmpassword' /></td>
					</tr>
				</table>
				<button id="btn-minimal-resetpassword">Reset Password</button><br />
				<span id="minimal-resetpassword-message"></span>
			</div>
		</div>
		<div class="footer">
			<p class="copyright-policy"> ©Copyright 2020 LoginRadius Inc.</p>
		</div>
	</div>
	<script src="static/js/resetPassword.js"></script>
</body>

</html>